spring:
  application:
    name: common-library
server:
  port: 8889

  cloud:
    config:
      enabled: false
  redis:
    host: localhost       # Redis server host
    port: 6379            # Redis server port
    password: ""          # Optional
    database: 0           # DB index
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0
        max-wait: 1000ms
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      group-id: vehicle-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: earliest
  feign:
    client:
      config:
        default:
          connectTimeout: 5000
          readTimeout: 5000

  resilience4j:
    retry:
      instances:
        default:
          max-attempts: 3
          wait-duration: 1s
    circuitbreaker:
      instances:
        default:
          registerHealthIndicator: true
          slidingWindowSize: 10
          failureRateThreshold: 50
          waitDurationInOpenState: 10s
    timelimiter:
      instances:
        default:
          timeoutDuration: 5s